.carousel .thumbs-wrapper {
    display: none !important;
}
.carousel .slide img {
    height: 90vh;
}

@media screen and (min-width:320px) and (max-width:760px) {
    .carousel .slide img {
        height: 40vh;
    }
}